<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esc.estogether.mapper.AttendanceMapper">

    <select id="findAttendance"
            parameterType="com.esc.estogether.model.parameter.AttendanceSearch"
            resultType="com.esc.estogether.model.vo.MemberAttendance">
        SELECT m.id AS id, g.name AS groupName, m.name AS name, m.sex, CASE WHEN a.week IS NOT NULL THEN TRUE WHEN a.week IS NULL THEN FALSE END AS attendance
        FROM `Member` m
             LEFT JOIN `Position` p
                       ON m.id = p.memberId
             INNER JOIN GroupMember gm
                        ON m.id = gm.memberId
             INNER JOIN `Group` g
                        ON gm.groupId = g.id AND g.endDate IS NULL
             LEFT JOIN Attendance a
                       ON m.id = a.memberId AND a.week = WEEK(now())
        <where>
            <if test="memberId != null">AND m.id = #{memberId}</if>
            <if test="groupId != null">AND g.id = #{groupId}</if>
            <if test="attendance != null and attendance">AND a.week IS NOT NULL</if>
        </where>
    </select>
    <insert id="attendanceCheck" parameterType="com.esc.estogether.model.vo.Member">
        INSERT INTO Attendance
            (memberId, week)
        VALUES
        <foreach collection="list" item="member" separator=" , ">
            (#{member.id}, WEEK(now()))
        </foreach>
    </insert>
    <delete id="deleteAttendance" parameterType="com.esc.estogether.model.vo.Member">
        DELETE FROM Attendance
        WHERE
            week = WEEK(now())
            AND memberId IN (
                <foreach collection="list" item="member" separator=" , ">
                    #{member.id}
                </foreach>
                )
    </delete>


</mapper>