<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esc.estogether.mapper.AttendanceMapper">

    <select id="findAttendance"
            parameterType="com.esc.estogether.model.parameter.AttendanceSearch"
            resultMap="com.esc.estogether.mapper.GroupMapper.groupMap">
        SELECT g.id AS groupId, g.name AS groupName, (SELECT name FROM `Member` WHERE id = g.readerId) AS readerName,
        m.*, ms.*, p.*, CASE WHEN a.week IS NOT NULL THEN TRUE WHEN a.week IS NULL THEN FALSE END AS attendance
        FROM `Group` g
        INNER JOIN GroupMember gm
            ON gm.groupId = g.id
        INNER JOIN `Member` m
            ON m.id = gm.memberId
        INNER JOIN MemberStatus ms
            ON m.id = ms.memberId
        LEFT JOIN Position p
            ON m.id = p.memberId AND p.endDate IS NULL
        LEFT JOIN Attendance a
            ON m.id = a.memberId AND a.week = WEEK(now()) AND a.year = YEAR(now())
        <where>
            <if test="memberId != null">AND m.id = #{memberId}</if>
            <if test="groupId != null">AND g.id = #{groupId}</if>
            <if test="attendance != null and attendance">AND a.week IS NOT NULL</if>
        </where>
    </select>

    <insert id="attendanceCheckByMemberId" parameterType="com.esc.estogether.model.parameter.AttendanceSearch">
        INSERT INTO Attendance
            (memberId, week, year)
        VALUES
            (#{memberId}, WEEK(now()), YEAR(now()))
    </insert>
    <delete id="deleteAttendanceByMemberId" parameterType="com.esc.estogether.model.parameter.AttendanceSearch">
        DELETE FROM Attendance
        WHERE
            week = WEEK(now()) AND YEAR(now())
        AND memberId = #{memberId}
    </delete>

    <insert id="attendanceCheck" parameterType="com.esc.estogether.model.vo.Member">
        INSERT INTO Attendance
            (memberId, week)
        VALUES
        <foreach collection="list" item="member" separator=" , ">
            (#{member.id}, WEEK(now()))
        </foreach>
    </insert>
    <delete id="deleteAttendance" parameterType="com.esc.estogether.model.vo.Member">
        DELETE FROM Attendance
        WHERE
            week = WEEK(now())
            AND memberId IN (
                <foreach collection="list" item="member" separator=" , ">
                    #{member.id}
                </foreach>
                )
    </delete>


</mapper>